// main layout
* {
    transition: 0.5s;
}

body {
    background-color: $background;
    font-family: $plain;
    color: $mainText;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;

    text-align: center;
    background-color: none;
}

header {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    font-size: 1.5rem;
}

// typography
h1, h2 {
    font-family: $decorative;
    color: $primary;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
    padding: 50px auto;
    margin-bottom: 25px;
    position: relative; 
}

h3 {
    font-size: 5rem;
}

span {
    color: $primary;
    font-size: 1.7rem;
}

// purple flag element
.flag{
    position: absolute;
    z-index: 0;
    width: 35%;
    margin: 0 3%;
    border-top: 28px solid $mainText;
    border-bottom: 28px solid $mainText;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}

section {
    width: 48%;
    padding: 25px 15px;
    margin-bottom: 50px;
    border-radius: 5%;
    background-color: $primary;
}

section:nth-of-type(2) {
    background-color: $primary;
}

.imageOne, .imageTwo {
    width: 300px;
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 0.8;
}

.imageOne {
    left: 0;
}

.imageTwo {
    right: 0;
}