// main layout
* {
    transition: 0.5s;
}

body {
    background-color: $background;
    font-family: $plain;
    color: $mainText;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;

    text-align: center;
    background-color: none;
}

header {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    font-size: 1.5rem;

    p {
        color: $anotherColor;
    }
}

// typography
h1, h2 {
    font-family: $decorative;
    color: $primary;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
    padding: 50px auto;
    margin-bottom: 25px;
    position: relative; 
}

h3 {
    font-size: 5rem;
    text-transform: capitalize;
    margin: 10px 0 0 0;
}

span {
    color: $primary;
    font-size: 1.7rem;
}

.specialtyText div {
    border-top: 2px solid $mainText;
    padding: 10px;
    margin: 10px;
    font-size: 2rem;
}

.skillsText {
    font-size: 1.2rem;
    color: $background;
}

// purple flag element
.flag{
    position: absolute;
    z-index: 0;
    width: 35%;
    margin: 0 3%;
    border-top: 28px solid $anotherColor;
    border-bottom: 28px solid $anotherColor;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;

}

@media (min-width: 1300px) {
    .flag {
        width: 25%;
    }
}

// section styling
section {
    width: 48%;
    padding: 25px 15px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: $primary;
}

section:nth-of-type(2) {
    background-color: $primary;
}

// modal styling

.modalBackground {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    // transform: translate(50px, 50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.6);
}

.modalContent {
    background-color: #fff;
    position: fixed;
    // z-index: 1;
    left: 15%;
    top: 50px;
    // transform: translate(50px, 50%);
    width: 70%;
    height: 100%;
}

.close {
    color: $primary;
    float: right;
    font-size: 2rem;
}

.close:hover,
.close:focus {
    color: $secondary;
    text-decoration: none;
}

// media query

@media(max-width: 1000px) {
    .wrapper {
        flex-direction: column;
    }

    section {
        width: 100%;
    }

    .flag {
        width: 80%;
    }
}

/* The Close Button */
.close {
  color: green;
  float: right;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}