// Color variables

$background: #114B5F;
$primary: #D9DBBC;
$secondary: #E6EBE0;
$mainText: #4281A4;
$anotherColor: #ED6A5A;

// Font variables

$decorative: 'Leckerli One', cursive;
$plain: 'Prata', serif;