html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body {
  background-color: #114B5F;
  font-family: "Prata", serif;
  color: #4281A4;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background-color: none;
}

header {
  width: 50%;
  margin: 50px auto;
  text-align: center;
  font-size: 1.5rem;
}

header p {
  color: #ED6A5A;
}

h1, h2 {
  font-family: "Leckerli One", cursive;
  color: #D9DBBC;
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  padding: 50px auto;
  margin-bottom: 25px;
  position: relative;
}

h3 {
  font-size: 5rem;
  text-transform: capitalize;
  margin: 10px 0 0 0;
}

span {
  color: #D9DBBC;
  font-size: 1.7rem;
}

.specialtyText div {
  border-top: 2px solid #4281A4;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
}

.skillsText {
  font-size: 1.2rem;
  color: #114B5F;
}

.flag {
  position: absolute;
  z-index: 0;
  width: 35%;
  margin: 0 3%;
  border-top: 28px solid #ED6A5A;
  border-bottom: 28px solid #ED6A5A;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
}

@media (min-width: 1300px) {
  .flag {
    width: 25%;
  }
}

section {
  width: 48%;
  padding: 25px 15px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #D9DBBC;
}

section:nth-of-type(2) {
  background-color: #D9DBBC;
}

.modalBackground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalContent {
  background-color: #fff;
  position: fixed;
  left: 15%;
  top: 50px;
  width: 70%;
  height: 100%;
}

.close {
  color: #D9DBBC;
  float: right;
  font-size: 2rem;
}

.close:hover,
.close:focus {
  color: #E6EBE0;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section {
    width: 100%;
  }
  .flag {
    width: 80%;
  }
}

/* The Close Button */
.close {
  color: green;
  float: right;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

fieldset {
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nameVar, .specialtyVar, .skills, form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input, label, button {
  width: 45%;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 20px;
}

label.newSkill {
  width: 30%;
  font-size: 1rem;
}

label {
  background-color: #E6EBE0;
  border: 4px solid #4281A4;
}

button {
  background-color: #114B5F;
  border: 4px solid #4281A4;
}

input.checkbox {
  display: none;
}

label.specialtyClass:hover,
label.newSkill:hover,
.custom {
  background-color: #4281A4;
  border: 4px solid #E6EBE0;
  color: #E6EBE0;
  cursor: pointer;
}

.nameVar label {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #4281A4;
}

.nameVar input {
  padding: 3%;
}

input.specialtyClass,
input.newSkill {
  position: absolute;
  left: -1000px;
}

label.specialtyClass:last-of-type {
  margin: 10px 30%;
}

@media (max-width: 540px) {
  form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  input, label, button,
  label.specialtyClass:last-of-type {
    width: 90%;
    margin: 10px auto;
  }
  label.newSkill {
    width: 50%;
  }
}
